<script>
  import { onMount } from 'svelte';

  const isLocal = window.location.hostname === 'localhost';

  let error = '';
  // TODO: Use proper url params
  // let url = new URL(window.location);
  // console.log(url.search);
  // let searchParams = new URLSearchParams(url.search);
  // console.log(searchParams);
  let search = window.location.search.substr(1);
  let dataSourceUrl = search || '';
  let isChangingDataSource = dataSourceUrl === '';

  let fetchedData;
  $: fetchedDataFormatted = JSON.stringify(fetchedData, null, 2);
  let showFetchedData = false;
  $: randomActTitle =
    fetchedData && fetchedData.metadata ? fetchedData.metadata.title : '…';

  let randomResult = { id: -1, text: '' };
  $: randomResultText = randomResult.text;
  let lastRandomIndex = -1;

  const onSetDataSourceClick = () => {
    window.location.search = encodeURI(dataSourceUrl);
  };

  const getRandomResult = () => {
    // TODO: Get a random index based on the length of the fetched data
    if (fetchedData && fetchedData.data && fetchedData.data.length) {
      if (fetchedData.data.length > 1) {
        const maxIndexValue = fetchedData.data.length - 1;
        let randomIndex = getRandomIndex(maxIndexValue, lastRandomIndex);
        lastRandomIndex = randomIndex;

        // Make sure the index is not out of bounds
        if (randomIndex > maxIndexValue) {
          randomResult = fetchedData.data[maxIndexValue];
        }
        randomResult = fetchedData.data[randomIndex];
      } else {
        randomResult.text = `You need more than one answer to get a random result`;
      }
    } else {
      randomResult.text = `Before you can get a random answer, you need to set a valid data source.`;
    }
  };

  onMount(async () => {
    // TODO: If the dataSource isn't an empty string, try to load the data
    if (dataSourceUrl) {
      try {
        // https://jsonblob.com/api/jsonBlob/1aa12862-778b-11ea-9f37-1dd975f6677f
        const res = await fetch(dataSourceUrl);
        fetchedData = await res.json();
      } catch (e) {
        // error = JSON.stringify(e, Object.getOwnPropertyNames(e), 2);
        // error = e;
        error = e.stack;
      }
    }
  });

  function getRandomIndex(maxIndex, lastIndex) {
    const index = Math.round(Math.random() * maxIndex);

    if (index === lastIndex) {
      getRandomIndex(maxIndex, index);
    }

    return index;
  }
</script>

<style>
  .checkboxes {
    display: flex;
  }
  .checkboxes > * {
    margin-right: 2rem;
  }
</style>

<!--suppress UnnecessaryLabelJS -->
<main>
  {#if isLocal}
    <div class="checkboxes">
      <label>
        <input type="checkbox" bind:checked={showFetchedData} />
        Show fetched data
      </label>
      <label>
        <input type="checkbox" bind:checked={isChangingDataSource} />
        Show data source input
      </label>
    </div>
  {/if}

  <!--TODO: Show ellipses or the title of the loaded data-->
  <h1>Random Act of {randomActTitle}</h1>

  <!--Random result button-->
  {#if fetchedData}
    <section>
      <button type="button" on:click={getRandomResult}>I feel lucky</button>
      <p>
        <strong>{randomResultText}</strong>
      </p>
    </section>
  {/if}

  {#if isChangingDataSource}
    <!--<h2>Change data source</h2>-->
    <p>
      <label for="inputDataSourceUrl">Data source URL</label>
      <input id="inputDataSourceUrl" type="url" bind:value={dataSourceUrl} />
      <button type="button" on:click={onSetDataSourceClick}>
        Set data source
      </button>
    </p>
  {/if}

  {#if showFetchedData}
    <section>
      <h2>Data</h2>
      <pre>{fetchedDataFormatted}</pre>
    </section>
  {/if}

  {#if error}
    <section class="text-left">
      <h2>Error</h2>
      <pre>{error}</pre>
    </section>
  {/if}
</main>
